.hero {
  @include section-padding(30px);

  @media screen and (min-width: $lg) {
    @include section-padding(25px, 39px);
  }
}

.hero__flex {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;

  @media screen and (min-width: $lg) {
    flex-direction: row;
    align-items: center;
  }
}
.hero__group {
  @media screen and (min-width: $lg) {
    width: 500px;
  }
}
.hero__title {
  margin-bottom: 16px;

  @include font-source(36px, 1.67, 700);
  text-align: center;

  @media screen and (min-width: $lg) {
    text-align: left;
    width: 375px;
  }
}

.hero__text {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 326px;

  @include font-source(18px, 1.56);
  text-align: center;

  @media screen and (min-width: $lg) {
    margin-bottom: 45px;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    width: 440px;
  }
}

.hero__set-buttons {
  display: flex;
  gap: 28px;
}
