.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  margin: 0 auto;
  background-color: $white-txt-color;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-nav__list {
  margin-bottom: 24px;
  text-align: center;
}
.mobile-nav__item {
  font-size: 16px;
  line-height: calc(28 / 16);
  color: $primary-txt-color;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &--current {
    font-weight: 600;
  }
}
// .mobile-nav__item--current {
// }
// .mobile-nav__link {
// }

.mobile-register {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 24px;
}
