// .strategies {
// }

// .strategies__flex {
// }
.strategies__title {
  @include font-source(34px, calc(51 / 34), 700);
  margin-bottom: 8px;

  @media screen and (min-width: $lg) {
    text-align: left;
  }
}

.strategies__text {
  @include font-source(16px, calc(26 / 16), 500);
  margin-bottom: 40px;
}

.strategies__list {
  @media screen and (min-width: $lg) {
    display: flex;
    gap: 32px;
  }
}

.strategies__item {
  margin-bottom: 56px;
}
// .strategies__link {
// }
.strategies__img {
  @media screen and (max-width: 1169px) {
    margin-bottom: 24px;
  }

  .strategies__link:hover &,
  .strategies__link:focus & {
    outline: $accent-color;
    outline: 3px solid $accent-color;
  }
}
.strategies__date {
  margin-bottom: 12px;

  @include font-source(16px, calc(28 / 16));
}
.strategies__place {
  font-weight: 700;
}
.strategies__name {
  width: 294px;
  @include font-source(24px, calc(40 / 24), 700);
  text-transform: capitalize;
  transition: color 250ms ease-in-out;

  .strategies__link:hover &,
  .strategies__link:focus & {
    color: $accent-color;
  }
}

.srtategies__wrapper {
  @media screen and (min-width: $lg) {
    padding: 24px;

    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-radius: 8px;
  }
}
