.btn {
  @extend %btn;
  display: block;
  color: $bolt-txt-color;
  border: 1px solid #bcd0e5;
}

.btn--green {
  @extend %btn;
  color: $white-txt-color;
  background-color: $btn-color;
}

.btn--white {
  @extend %btn;
  padding: 10px 35px;
  color: $accent-color;
  background-color: $white-txt-color;
  font-size: 20px;
  line-height: calc(30 / 20);

  @media screen and (max-width: 1169px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn--active {
  transition: color $amimation, background-color $amimation;
  .price__item:focus &,
  .price__item:hover & {
    color: $btn-color;
    background-color: $white-txt-color;
  }
}

.btn-theme {
  @media screen and (max-width: 1169px) {
    display: none;
  }
  border-radius: 50%;
  border: transparent;
}

.btn-video {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  gap: 8px;

  @extend %btn;
  color: $btn-color;
  text-decoration: underline;

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 18px;
    background-image: url(../images/product/icon-img/play.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.btn-menu {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: transparent;
  background-color: transparent;
  // fill: currentColor;
  @media screen and (min-width: 1170px) {
    display: none;
  }

  .btn-menu__icon {
    fill: $primary-txt-color;
  }
}

.btn--footer {
  @extend %btn;
  color: $white-txt-color;
  background-color: $btn-color;

  @media screen and (max-width: 1169px) {
    margin-left: auto;
    margin-right: auto;
  }
}
