.btn {
  @extend %btn;
  color: $bolt-txt-color;
  border: 1px solid #bcd0e5;
}

.btn--green {
  @extend %btn;
  color: $white-txt-color;
  background-color: $btn-color;
}

.btn-theme {
  @media screen and (max-width: 1169px) {
    display: none;
  }
  border-radius: 50%;
  border: transparent;
}

.btn-menu {
  margin-left: auto;
  background-color: transparent;
  border: transparent;
  background-color: transparent;
  // fill: currentColor;
  @media screen and (min-width: 1170px) {
    display: none;
  }

  .btn-menu__icon {
    fill: $primary-txt-color;
  }
}
