.social__list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.social__item {
}
.social__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: green;
}
.social__icon {
}
