@mixin font-source($size: false, $lh: false, $weight: false, $color: false) {
  font-family: 'Poppins', Inter, Roboto, Montserrat, sans-serif;
  @if $size {
    font-size: $size;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $color {
    color: $colour;
  }
}
